@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html{
  font-family: 'Raleway', sans-serif;
}

body {
	display: flex;
	flex-direction: row;
	grid-gap: 2em;
	max-height: 100vh;
  scroll-behavior: smooth;
	}

section {
  padding:2em;
	display: grid;
}

#left {
  padding-right: 0;
  overflow-x: hidden;
	min-height: 100vh;
	align-content: center;
	flex: 7;
	grid-gap: 0;
}

#right {
  padding-left:0;
	overflow: auto;
	flex: 8;
	padding-right: 5em;
	align-content: baseline;
}

container{
  display: grid;
  flex-direction: column;
  max-width: inherit;
  grid-template-columns: auto;
  column-count: 2;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#showreel{
  display:grid;
  grid-auto-flow: column;
}

.btn-primary{
  background-color: #104b8e;
}

h6{
  line-height: 1.5em;
}

h1{
    color: #104b8e;
    padding-top:3em;
}

img{
  width: 100%;
  height: auto;
  padding:0.2em;
}
