<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">

    <title>Bangkit Disaster Monitoring System</title>
  </head>

  <body class="bg-light">
    <section id='left'>
      <img id='indo' src="{{url_for('static', filename='indo.png')}}" align="middle" />

      <div id='showreel'>
        <!-- <container> -->
          <img src="{{url_for('static', filename='
          .jpg')}}" align="middle" />
          <img src="{{url_for('static', filename='flood.jpg')}}" align="middle" />
        <!-- </container> -->

        <!-- <container> -->
          <img src="{{url_for('static', filename='earthquake.jpg')}}" align="middle" />
          <img src="{{url_for('static', filename='wildfire.jpg')}}" align="middle" />
        <!-- </container> -->
      </div>
    </section>

    <section id='right'>
      <h1><b>Bangkit Disaster<br>Monitoring System</b></h1>
      <h6>Recognize <b>cyclone, earthquake, flood, and wildfire</b> by processing image. Click browse and upload an image. Supported format types are jpeg, jpg, and png. Once done, click predict button.</h6>

      <br>
          {% with messages = get_flashed_messages(with_categories=true) %}
             {% if messages %}
                {% for category, message in messages %}

                   <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                       <strong class="text-uppercase">{{ category }} : </strong> {{ message}}
                       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                       </button>
                   </div>

                {% endfor %}
             {% endif %}
          {% endwith %}

          <form action="{{ url_for('predict') }}" enctype = "multipart/form-data" method="POST">
              <div class="form-group">
                  <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile" name="file" required accept="image/*">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                  </div>
                  <p class="filename"></p>
                  <div>
                      <img class="img-fluid" width="100%" id="image" src="#" alt=""/>
                  </div>
              </div>
              <button type="submit" class="btn btn-primary btn-block text-uppercase btn-customized">predict</button>
              <br>
              <!-- <p class="text-center text-uppercase">Developed by aaditya ghag</p> -->
              <!-- <p class="text-center text-primary"><a href="https://github.com/imaaditya-stack/Image-Classifier-Flask-App">View Original Source</a></p> -->
          </form>
      </div>
    </section>

  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

  </body>

</html>
